<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home - BucketList Travels</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/home.css' %}" />

</head>

<body>
    <div>
        <img src="{% static 'images/logo.png' %}" style="width:auto;height: auto;" alt="Bucket List Travel Logo.">

        <ul>
            <li><a href="{% url 'homepage' %}">Home</a></li>
            <li><a href="{% url 'homepage' %}">Places</a></li>
            <li><a href="{% url 'homepage' %}">Contact</a></li>

            {% if user.is_authenticated %}
            <li><a href="{% url 'profilepage' %}">Profile</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
            {% else %}
            <li><a href="{% url 'loginpage' %}">Login</a></li>
            <li><a href="{% url 'signuppage' %}">Sign up</a></li>
            {% endif %}

        </ul>
    </div>

    {% block content %}
    {% endblock %}

</body>

</html>