{% extends 'home/base.html' %}


{% block style %}

{% endblock style %}



{% block content %}
<!-- Right now it's printing the session content,
     which will be used to create this page's content -->
<!-- <div class="temp">
    {% for key in session_keys %}
    {{ key }}
    {% empty %}
    <p> No session keys available </p>
    {% endfor %}
    <p></p>
    {% for data in session_data %}
    {{ data }}
    {% empty %}
    <p> No session data available </p>
    {% endfor %}
</div> -->

<div class="container">
    <div>
        <h1>Booking Details: </h1>
        <div>
            <h2>Room Details: </h2>
            <p> {{room.name}} </p>
            <p> {{room.host.name}} </p>
            <p> Capacity: {{room.capacity}} </p>
            <p> Arrival Date: {{start_date}} </p>
            <p> Departure Date: {{end_date}} </p>
        </div>
        <div>
            <h2>Services: </h2>
        </div>
    </div>

    <div>
        <h2>Your Information </h2>
        <p>{{user.first_name}} {{user.last_name}}</p>
        <p>{{ user.email }}</p>
        <p>{{ user.userinfo.contactno }}</p>
    </div>

    <div>
        <h2>Cost Calculation: </h2>
        <p>Price: {{ room_price }} BDT per night </p>
        <p>Number of Days to Stay: {{ stay_days }} </p>
        <p>Number of Rooms Required: {{ room_required }} </p>
        <h3>Total: {{ room_cost }} BDT</h3>
    </div>
    <div>
        <h2>Payment </h2>
    </div>
</div>

{% endblock %}