{% extends 'home/base.html' %}


{% block style %}

<style>
    body {
        background-color: #3f3f3f;
    }

    p,
    h1,
    h2,
    h3 {
        color: white;
    }
</style>

{% endblock style %}



{% block content %}
<!-- Right now it's printing the session content,
     which will be used to create this page's content -->
<!-- <div class="temp">
    {% for key in session_keys %}
    {{ key }}
    {% empty %}
    <p> No session keys available </p>
    {% endfor %}
    <p></p>
    {% for data in session_data %}
    {{ data }}
    {% empty %}
    <p> No session data available </p>
    {% endfor %}
</div> -->

<div class="container container-fluid">
    <form method="POST">
        {% csrf_token %}
        <div>
            <h1>Booking Details: </h1>
            <div>
                <h2>Room Details: </h2>
                <p> {{room.name}} </p>
                <p> {{room.host.name}} </p>
                <p> Capacity: {{room.capacity}} </p>
                <p> Arrival Date: <span id="startdate"> {{start_date}} </span></p>
                <p> Departure Date: <span id="enddate"> {{end_date}} </span> </p>
            </div>
            <div>
                <h2>Services: </h2>
            </div>
        </div>

        <div>
            <h2>Your Information </h2>
            <p>{{user.first_name}} {{user.last_name}}</p>
            <p>{{ user.email }}</p>
            <p>{{ user.userinfo.contactno }}</p>
        </div>

        <div>
            <h2>Cost Calculation: </h2>
            <p>Price: {{ room_price }} BDT per night </p>
            <p>Number of Days to Stay: {{ stay_days }} </p>
            <p>Number of Rooms Required: {{ room_required }} </p>
            <h3>Total: {{ room_cost }} BDT</h3>
        </div>
        <div>
            <h2>Payment </h2>
        </div>
        <div>
            <button type="button" value="Confirm Booking" class="btn" id="process_booking_btn">
        </div>
    </form>
</div>

{% endblock %}


{% block scripts %}
<script type="text/javascript">
    var processBooking = function () {
        var data = {
            roomid: {{room.id}},
            startdate: new Date($("#startdate").text()),
            enddate: new Date($("#enddate").text()),
            no_of_people: {{ people_no }},
            no_of_rooms: {{ room_required }}
        }
        
        $.ajax({
            url: "ajax/processbooking",
            data: JSON.stringify(data),
            type: "POST",
            contentType: "application/json; charset=utf-8",
            cache: false,
            success: function(data) {
                alert("Success!");
            },
            error: function(jqxhr, status, error) {
                alert("Error!");
                console.log("status: " + status);
                console.log("error: " + error);
            }
        });
    }

    $(document).ready(function () {
        $("#process_booking_btn").click(function(){
            processBooking();
        });


    });
</script>


{% endblock %}