{% extends 'home/base.html' %}





{% block style %}

<style>


    p {
        color: white;
        margin: auto;
    }
    body {
        background-color: #535759;
    }



.bookbuttons{
        display: block;
        float: left;

        font-size: 20px;
		padding: 10px 20px 10px 20px;

		border: 1px solid #00a26f;

		color: white;
		
        width: 100%;
        margin-top: 20px;
     


	}


#booknow{
    background-color:#00a26f;
   
}

#details{

    box-sizing: border-box;

    /* background-color: rgba(255, 255, 255, .5);
    border:4px solid white; */
    background-color: rgba(49, 50, 51, 0.5);
    border: 4px solid rgb(80, 80, 80);
    color: white;
  

}


.thumbnail{
    margin-left: 50%;
    transform: translate(-50%);
    border: 4px solid transparent;
}

.thumbnaildetails{
    margin-top: 20px;
    text-align: left;
    margin-left: 20%;
    font-size: 15pt;
    
}


.thumbnailtitle{
    color: white;
    text-align: center;
    font-size: 30pt;
    margin-top: 20  px;

}

</style>

{% endblock %}




{% block content %}
<div class="container-fluid">
    <div class="grid-container">
        <div class="row">
            {% for room in rooms %}
            {% if forloop.counter0|divisibleby:3 and forloop.counter0 > 0 %}
        </div>
        <div class="row">
            {% endif %}
            <div class="col">
                <div class="grid-item">
                    <div class="img-container">
                        <img class="thumbnail" src="/media/{{ room.image }}" alt="Image" width="360" height="240">
                    </div>
                    <h1 class="thumbnailtitle"> {{ room.name }} </h1>
                    <hr>
                    <div class="thumbnaildetails">
                        <p>&#9830 {{ room.host.name }}</p>
                        <p>&#9830 {{ room.size }} sq-ft </p>
                        <p>&#9830 {{ room.capacity }} person</p>
                        <p> &#9830 {{ room.price }} per night </p>
                    </div>
                    <div>
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="room_id" value="{{ room.id }}">
                            <button id="details" class="bookbuttons"> Details </button>
                            <button id="booknow" class="bookbuttons" type="submit"> Book </button>
                        </form>
                    </div>
                </div>
            </div>



            {% empty %}
            <h3> Sorry, system couldn't find any result matching the search criteria </h3>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}